<div class="score-card-section example-section">
    <mat-card>
        <div class="ph-item">
            <div class="ph-col-12 card-header">
                <div class="ph-row card-title">
                    <div class="ph-col-6"></div>
                    <div class="ph-col-6 empty"></div>
                </div>
                <div class="ph-row">
                    <div class="ph-col-4"></div>
                    <div class="ph-col-8 empty"></div>
                </div>
                <div class="ph-row">
                    <div class="ph-col-2"></div>
                    <div class="ph-col-10 empty"></div>
                </div>
            </div>

            <div class="ph-col-2 icon-section">
                <div class="ph-avatar"></div>
                <div class="ph-avatar"></div>
                <div class="ph-avatar"></div>
            </div>

            <div style="max-width: 64px; padding: 0;">
                <div class="ph-row notification-section">
                    <div class="ph-col-12"></div>
                    <div class="ph-col-12"></div>
                    <div class="ph-col-12"></div>
                </div>
            </div>
            <div class="ph-col-4 hero-section" style="margin-left: 40px;">
                <div class="ph-avatar"></div>
                <div class="ph-row">
                    <div class="ph-col-2 empty"></div>
                    <div class="ph-col-8"></div>
                    <div class="ph-col-2 empty"></div>
                </div>
                <div class="ph-row">
                    <div class="ph-col-12"></div>
                </div>
            </div>
            <div class="ph-col-4 hero-section">
                <div class="ph-avatar"></div>
                <div class="ph-row">
                    <div class="ph-col-2 empty"></div>
                    <div class="ph-col-8"></div>
                    <div class="ph-col-2 empty"></div>
                </div>
                <div class="ph-row">
                    <div class="ph-col-12"></div>
                </div>
            </div>
        </div>
        <div class="card-footer-container">
            <mat-divider></mat-divider>
            <pxb-info-list-item chevron="true" disabled="true" hidePadding="true" dense="true">
                <div pxb-title>View Location</div>
            </pxb-info-list-item>
        </div>
    </mat-card>
</div>
