<mat-toolbar data-cy="pxb-toolbar" flexLayout="row" class="app-bar mat-elevation-z4" [color]="checked ? 'primary' : ''">
    <button data-cy="toolbar-menu" *ngIf="isSmall" mat-icon-button (click)="toggleMenu()" style="margin-left: -8px">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="mat-title" [style.marginLeft.px]="isSmall ? 24 : 0">Skeletons</div>
    <pxb-spacer></pxb-spacer>
    <div class="toggle-theme-container" *ngIf="!isSmall">
        <span class="mat-subheading-2" style="margin-right: 8px; font-size: 14px;">Use Dark Theme</span>
        <mat-slide-toggle [checked]="checked" (change)="onToggle($event)"></mat-slide-toggle>
    </div>
</mat-toolbar>
<section class="mat-typography" [class.small]="isSmall">
    <div class="score-card-example-section">
        <h2 class="example-title">Scorecard</h2>
        <div class="placeholder-section" *ngIf="showPlaceHolder">
            <app-placeholder-score-card></app-placeholder-score-card>
        </div>
        <div class="loaded-section" *ngIf="!showPlaceHolder">
            <mat-card>
                <pxb-score-card
                    [headerTitle]="'Substation 3'"
                    [headerSubtitle]="'High Humidity Alarm'"
                    [headerInfo]="'4 Devices'"
                    [badgeOffset]="'-74'"
                >
                    <ng-container pxb-action-items>
                        <ng-container *ngFor="let action of ['search', 'mail', 'notifications']; index as i">
                            <mat-icon *ngIf="i < actionLimit">
                                {{ action }}
                            </mat-icon>
                        </ng-container>
                    </ng-container>
                    <mat-list pxb-body class="sb-score-card-content">
                        <mat-list-item>
                            <p mat-line style="font-weight: 400">0 Alarms</p>
                            <mat-icon mat-list-icon>notifications</mat-icon>
                        </mat-list-item>
                        <mat-list-item [style.color]="colors.blue[500]">
                            <p mat-line style="font-weight: 600">1 Event</p>
                            <mat-icon mat-list-icon>list_alt</mat-icon>
                        </mat-list-item>
                        <mat-list-item>
                            <p mat-line style="font-weight: 400">Online</p>
                            <mat-icon mat-list-icon>cloud</mat-icon>
                        </mat-list-item>
                    </mat-list>
                    <pxb-hero-banner pxb-badge>
                        <pxb-hero
                            *ngIf="heroLimit > 0"
                            [label]="'Temperature'"
                            [value]="'98'"
                            [units]="'°F'"
                            [iconSize]="72"
                        >
                            <i pxb-primary class="pxb-temp"></i>
                        </pxb-hero>
                        <pxb-hero
                            *ngIf="heroLimit > 1"
                            [label]="'Humidity'"
                            [value]="'54'"
                            [units]="'%'"
                            [iconSize]="72"
                        >
                            <i pxb-primary [style.color]="colors.blue[300]" class="pxb-moisture"></i>
                        </pxb-hero>
                    </pxb-hero-banner>
                    <pxb-info-list-item pxb-action-row chevron="true" hidePadding="true" dense="true">
                        <div pxb-title>View Location</div>
                    </pxb-info-list-item>
                </pxb-score-card>
            </mat-card>
        </div>
    </div>

    <div class="list-items-example-section">
        <h2 class="example-title">List Items</h2>
        <div class="placeholder-section" *ngIf="showPlaceHolder">
            <app-placeholder-list></app-placeholder-list>
        </div>
        <div class="loaded-section" *ngIf="!showPlaceHolder">
            <mat-card>
                <mat-nav-list [style.paddingTop.px]="0">
                    <pxb-info-list-item
                        dense="true"
                        [statusColor]="colors.green[700]"
                        [divider]="'full'"
                        class="test"
                        [iconAlign]="'center'"
                    >
                        <div pxb-title>Status</div>
                        <i pxb-icon class="pxb-device_activating" [style.color]="colors.green[500]"></i>
                        <pxb-channel-value pxb-right-content value="Online, ESS+"></pxb-channel-value>
                    </pxb-info-list-item>

                    <pxb-info-list-item [divider]="'full'" [avatar]="true">
                        <div pxb-title>Input Voltage</div>
                        <div pxb-subtitle>Phase A · Phase B · Phase C</div>
                        <mat-icon pxb-icon [style.backgroundColor]="colors.blue[500]" style="color: white;"
                            >check_circle
                        </mat-icon>
                        <span pxb-right-content>
                            <pxb-channel-value value="478" units="V"></pxb-channel-value>,&nbsp;
                            <pxb-channel-value value="479" units="V"></pxb-channel-value>,&nbsp;
                            <pxb-channel-value value="473" units="V"></pxb-channel-value>
                        </span>
                    </pxb-info-list-item>

                    <pxb-info-list-item
                        [style.color]="colors.red[500]"
                        [statusColor]="colors.red[500]"
                        [divider]="'full'"
                        [avatar]="true"
                    >
                        <div pxb-title>Output Voltage</div>
                        <div pxb-subtitle>Phase A · Phase B · Phase C</div>
                        <mat-icon pxb-icon [style.backgroundColor]="colors.red[500]" style="color: white"
                            >check_circle
                        </mat-icon>
                        <span pxb-right-content>
                            <pxb-channel-value value="478" units="V"></pxb-channel-value>,&nbsp;
                            <pxb-channel-value value="479" units="V"></pxb-channel-value>,&nbsp;
                            <pxb-channel-value value="473" units="V"></pxb-channel-value>
                        </span>
                    </pxb-info-list-item>

                    <pxb-info-list-item dense="true" [divider]="'full'" [iconAlign]="'center'" [disabled]="false">
                        <div pxb-title>Output Current</div>
                        <mat-icon pxb-icon>battery_charging_full</mat-icon>
                        <span pxb-right-content>
                            <pxb-channel-value value="15" units="A"></pxb-channel-value>,&nbsp;
                            <pxb-channel-value value="14.9" units="A"></pxb-channel-value>,&nbsp;
                            <pxb-channel-value value="15" units="A"></pxb-channel-value>
                        </span>
                    </pxb-info-list-item>

                    <pxb-info-list-item dense="true" [divider]="'full'" [iconAlign]="'center'">
                        <div pxb-title>Temperature</div>
                        <i pxb-icon class="pxb-temp"></i>
                        <span pxb-right-content style="display: flex; align-items: center">
                            <pxb-channel-value value="68" units="°F"></pxb-channel-value>
                        </span>
                    </pxb-info-list-item>
                </mat-nav-list>
            </mat-card>
        </div>
    </div>

    <div class="hero-banner-example-section">
        <h2 class="example-title">Hero Banner</h2>
        <div class="placeholder-section" *ngIf="showPlaceHolder">
            <app-placeholder-hero></app-placeholder-hero>
        </div>
        <div class="loaded-section" *ngIf="!showPlaceHolder">
            <mat-card>
                <pxb-hero-banner [style.borderColor]="colors.gray[200]" [style.width.px]="bannerWidth">
                    <pxb-hero *ngIf="count > 0" [label]="'Health'" [value]="96" [units]="'/100'">
                        <i pxb-primary [style.color]="colors.green[500]" class="pxb-grade_a"></i>
                    </pxb-hero>
                    <pxb-hero *ngIf="count > 1" [label]="'Load'" [value]="90" [units]="'%'">
                        <i pxb-primary [style.color]="colors.yellow[500]" class="pxb-current_circled"></i>
                    </pxb-hero>
                    <pxb-hero *ngIf="count > 2" [label]="'Temp'" [value]="96" [units]="'C'">
                        <i pxb-primary [style.color]="colors.green[500]" class="pxb-temp"></i>
                    </pxb-hero>
                    <pxb-hero *ngIf="count > 3" [label]="'Battery'" [value]="96" [units]="'/100'">
                        <i pxb-primary [style.color]="colors.green[500]" class="pxb-battery"></i>
                    </pxb-hero>
                </pxb-hero-banner>
            </mat-card>
        </div>
    </div>
</section>
