<div style="width:100%;" class="mat-simple-snackbar" data-cy="snackbar" fxLayout="row" fxLayoutAlign="space-between center">
  <p class="mat-body" style="margin-bottom: 0;">{{ data.selectedItems.length }} selected items</p>
  <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-icon-button data-cy="snackbar-delete" (click)="deleteItems()">
          <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button data-cy="snackbar-cancel" (click)="cancelItems()">
          <mat-icon>cancel</mat-icon>
      </button>
  </div>
</div>