<mat-toolbar data-cy="blui-toolbar" color="primary" class="app-bar mat-elevation-z2">
    <button data-cy="toolbar-menu" *ngIf="isSmall" style="margin-left: -8px" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="mat-title" [style.marginLeft.px]="isSmall ? 24 : 0">Multiselect List</div>
    <blui-spacer></blui-spacer>
    <button
        data-cy="toolbar-add"
        matTooltip="Add an item"
        mat-icon-button
        (click)="selectionService.addNewItem()"
        style="margin-right: -8px"
    >
        <mat-icon>add</mat-icon>
    </button>
</mat-toolbar>
<mat-list class="multi-select-list">
    <blui-info-list-item data-cy="list-content" *ngFor="let item of selectionService.getItems()" [iconAlign]="'center'">
        <mat-checkbox
            blui-icon
            [checked]="selectionService.isSelected(item)"
            (change)="selectItem(item)"
        ></mat-checkbox>
        <span blui-title>
            {{ item.name }}
        </span>
        <span blui-subtitle>
            {{ item.details }}
        </span>
        <mat-icon blui-right-content>navigate_next</mat-icon>
    </blui-info-list-item>
</mat-list>
<div *ngIf="selectionService.getItems().length === 0" style="height: calc(100vh - 64px)">
    <blui-empty-state title="No Items Found" style="margin: 16px">
        <mat-icon blui-empty-icon>error</mat-icon>
        <button
            data-cy="blui-empty-state-add"
            blui-actions
            mat-raised-button
            color="primary"
            (click)="selectionService.addNewItem()"
        >
            <mat-icon>add</mat-icon>
            Add An Item
        </button>
    </blui-empty-state>
</div>
