.bottomPanel {
    min-width: 600px;
    padding: 0;
    .mat-nav-list {
        padding: 0;
    }
}
@media (max-width: 600px) {
    .bottomPanel {
        min-width: 100vw;

        .mat-nav-list mat-list-item .mat-line {
            text-overflow: inherit;
            white-space: normal;
        }
    }
}
