<mat-toolbar color="primary">
    <button *ngIf="isSmall" style="margin-left: -8px;" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="mat-title">Sortable List</div>
    <pxb-spacer></pxb-spacer>
    <button mat-stroked-button (click)="edit()">
        {{ draggable ? 'Save' : 'Edit' }}
    </button>
</mat-toolbar>
<mat-nav-list *ngIf="data.length > 0" [disableRipple]="draggable">
    <section *ngIf="!draggable">
        <pxb-info-list-item *ngFor="let i of data" [hidePadding]="true">
            <span pxb-title>
                {{ i.name }}
            </span>
            <span pxb-right-content>
                <pxb-channel-value [value]="i.details"></pxb-channel-value>
            </span>
        </pxb-info-list-item>
    </section>
    <div cdkDropList (cdkDropListDropped)="onDrop($event)" *ngIf="draggable">
        <pxb-info-list-item *ngFor="let i of data" cdkDrag>
            <mat-icon pxb-icon cdkDragHandle class="handler">drag_handle</mat-icon>
            <span pxb-title>
                {{ i.name }}
            </span>
            <span pxb-right-content>
                <pxb-channel-value [value]="i.details"></pxb-channel-value>
            </span>
        </pxb-info-list-item>
    </div>
</mat-nav-list>
