mat-list {
    padding-top: 0px;
}

// the floating component when dragging
.cdk-drag-preview {
    display: flex;
    align-items: center;
    padding: 0 16px;
    background-color: white;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    width: 100%;
    box-sizing: border-box;
}

.cdk-drag-placeholder {
    opacity: 0;
}

// to add an animation to the other non-dragged elements
.cdk-drop-list.cdk-drop-list-dragging .mat-list-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
