<mat-toolbar data-cy="pxb-toolbar" color="primary" class="app-bar mat-elevation-z2">
    <button data-cy="toolbar-menu" *ngIf="isSmall" style="margin-left: -8px" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="mat-title" [style.marginLeft.px]="isSmall ? 24 : 0">Sortable List</div>
    <pxb-spacer></pxb-spacer>
    <button *ngIf="isSmall" data-cy="action-btn" mat-icon-button (click)="edit()" style="margin-right: -8px">
        <template [ngTemplateOutlet]="actionBtn"></template>
    </button>
</mat-toolbar>

<section class="sortable-list-container">
    <ng-template #actionBtn>
        <mat-icon *ngIf="!draggable; else doneIcon">sort</mat-icon>
        <ng-template #doneIcon>
            <mat-icon>done</mat-icon>
        </ng-template>
    </ng-template>
    <div data-cy="action-btn" class="action-button-container" *ngIf="!isSmall">
        <button mat-raised-button class="action-button" color="primary" (click)="edit()">
            <template [ngTemplateOutlet]="actionBtn"></template>
            {{ draggable ? 'Done' : 'Sort' }}
        </button>
    </div>
    <mat-card class="sortable-list-card">
        <mat-list [disableRipple]="draggable" cdkDropList (cdkDropListDropped)="onDrop($event)">
            <ng-container *ngIf="!draggable">
                <pxb-info-list-item divider="full" *ngFor="let item of data; let i = index" [hidePadding]="true">
                    <span pxb-title> {{ item }}</span>
                </pxb-info-list-item>
            </ng-container>
            <ng-container *ngIf="draggable">
                <pxb-info-list-item
                    [divider]="i === 2 ? null : 'full'"
                    *ngFor="let item of data; let i = index"
                    cdkDrag
                    class="sortable-list-item"
                    [attr.data-cy]="'sortable-row-' + i"
                >
                    <button mat-icon-button pxb-icon disableRipple>
                        <mat-icon cdkDragHandle class="handler">drag_handle</mat-icon>
                    </button>
                    <span pxb-title> {{ item }}</span>
                </pxb-info-list-item>
            </ng-container>
        </mat-list>
    </mat-card>
</section>
