@import '~@pxblue/colors/palette';

[dir='rtl'] {
    .fruit-list {
        ::ng-deep .pxb-info-list-item-icon-wrapper {
            margin-right: -8px;
            margin-left: 16px;
        }
    }
    .select-language mat-form-field {
        margin-left: 0;
        margin-right: 4px;
    }
}

.i18n-container {
    height: 100vh;
    width: 100%;
}

.sidenav {
    max-width: 90%;
    transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 350px;
    .sidenav-content {
        padding-top: 0;
        overflow-x: hidden;
    }
    .toolbar-header {
        background-color: map-get($pxb-blue, 500);
        color: white;
        min-height: 150px;
    }
    .logo-row {
        height: 72px;
        margin-left: 8px;
        margin-bottom: 42px;
        margin-right: 8px;
        .logo {
            font-size: 64px;
            transform: rotate(42deg);
        }
    }
    .nav-wrapper {
        display: flex;
        flex-direction: column;
        flex: 1 1 0px;
        overflow-y: auto;
        overflow-x: hidden;
        span {
            margin: 0 16px;
        }
    }
}

.add-to-cart-button {
    margin: 16px;
    margin-top: 8px;
    padding: 2px 16px;

    ::ng-deep .mat-button-wrapper {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5em;
        vertical-align: middle;
    }
}

.content {
    background-color: map-get($pxb-white, 50);
}

.icon,
.nav-wrapper mat-icon {
    color: map-get($pxb-gray, 700);
}

[matSubheader] {
    white-space: nowrap;
}

.fruit-list {
    margin-top: 16px;
    ::ng-deep .pxb-info-list-item-icon-wrapper {
        margin-left: -8px;
    }
    ::ng-deep .mat-checkbox-inner-container {
        width: 18px !important;
        height: 18px !important;
    }
    .fruit-subtitle {
        line-height: 1.3;
        font-weight: 400;
    }

    mat-nav-list {
        mat-checkbox {
            display: inline-flex;
        }
    }
}

.rtl {
    transform: scaleX(-1);
}

.select-language {
    font-size: 1rem;
    background-color: map-get($pxb-white, 50);
    mat-form-field {
        margin-left: 4px;
        color: map-get($pxb-black, 500);
    }
    padding-top: 32px;
}

.mat-select {
    line-height: 1rem;
    padding-bottom: 6px;
    padding-left: 4px;
}

::ng-deep .mat-select-panel {
    max-height: none !important;
}
