@import '~@pxblue/colors/palette.scss';

.extended-fab-button {
    width: unset;
    padding: 0 26px;
    border-radius: 29px;

    .mat-icon {
        margin-right: 10px;
    }
}

.button-container {
    ::ng-deep .mat-progress-spinner,
    .mat-spinner {
        circle {
            stroke: map-get($pxb-white, 50);
        }
    }
}

section.mat-typography {
    padding: 16px 24px;

    .example-section {
        padding: 16px 0;
        .raised-button-example {
            height: 36px;
            .primary-spinner {
                margin: 0 auto;
            }
        }
    }
}
