@import '~@pxblue/colors/palette.scss';

.extended-fab-button {
    width: 180px;
    height: 56px;
    padding: 0 26px;
    border-radius: 29px;
    transition-property: unset;
    transition-duration: 5s;

    .mat-icon {
        margin-right: 10px;
    }

    .primary-spinner {
        display: none;
    }
}

.button-container {
    ::ng-deep .mat-progress-spinner,
    .mat-spinner {
        circle {
            stroke: map-get($pxb-white, 50);
        }
    }
}

section.mat-typography {
    padding: 16px 24px;

    .example-section {
        padding: 16px 0;
        .raised-button-example {
            height: 36px;
            .primary-spinner {
                margin: 0 auto;
            }
        }
    }
}
.show-spinner {
    height: 56px;
    width: 56px;
    border-radius: 50%;

    .mat-icon,
    .extended-fab-button__text {
        display: none;
    }

    .primary-spinner {
        display: block;
    }
}
