<div class="list-items-section section-one example-section">
    <mat-card>
        <div class="ph-item">
            <ng-container *ngFor="let listItems of [0, 1, 2, 3]">
                <div class="ph-col-2 list-icon-section">
                    <div class="ph-avatar"></div>
                </div>
                <div class="list-item-text">
                    <div class="ph-row">
                        <div class="ph-col-2 big"></div>
                        <div class="ph-col-10 big empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                    </div>
                </div>
                <div class="icon-section">
                    <mat-icon>chevron_right</mat-icon>
                </div>
                <mat-divider></mat-divider>
            </ng-container>
        </div>
    </mat-card>
</div>

<div class="list-items-section section-two example-section">
    <h2 class="example-title"></h2>
    <mat-card>
        <div class="ph-item">
            <ng-container *ngFor="let listItems of [0, 1, 2]">
                <div class="ph-col-2 list-icon-section">
                    <div class="ph-avatar"></div>
                </div>
                <div class="list-item-text first-list-section">
                    <div class="ph-row">
                        <div class="ph-col-8 big"></div>
                        <div class="ph-col-4 big empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                    </div>
                </div>
                <div class="list-item-text second-list-section">
                    <div class="ph-row">
                        <div class="ph-col-2 big"></div>
                        <div class="ph-col-10 big empty"></div>
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                    </div>
                </div>
                <div class="icon-section">
                    <mat-icon>chevron_right</mat-icon>
                </div>
                <mat-divider></mat-divider>
            </ng-container>
        </div>
    </mat-card>
</div>
