@import '~@pxblue/colors/palette.scss';
@import '../common-style.scss';

.list-items-section {
    .mat-card {
        padding: 0;
        .ph-item {
            padding: 0;
            .list-icon-section {
                max-width: 72px;
                justify-content: center;
                padding: 16px;
                .ph-avatar {
                    min-width: 0;
                    height: 40px;
                    width: 40px;
                    margin-bottom: 0;
                    padding-right: 0;
                }
            }
            .list-item-text {
                padding: 16px 0px;
                .ph-row {
                    margin-bottom: 0;
                    [class^='ph-col-'],
                    [class*=' ph-col-'] {
                        border-radius: 2px;
                        margin-bottom: 4px;
                    }
                }
            }
            .icon-section {
                color: map-get($pxb-gray, 200);
                max-width: 56px;
                justify-content: center;
                padding: 0 16px;
                align-items: center;
            }
            .mat-divider {
                position: relative;
                margin-top: -1px;
                &:last-child {
                    display: none;
                }
            }
        }
    }
    &.section-two {
        padding-top: 24px;
        .ph-item {
            .ph-avatar {
                height: 24px;
                width: 24px;
                margin: 0 auto;
            }
            .first-list-section {
                max-width: 80px;
            }
        }
    }
}
