<mat-toolbar data-cy="blui-toolbar" color="primary" class="app-bar mat-elevation-z2">
    <button data-cy="toolbar-menu" *ngIf="isSmall" style="margin-left: -8px" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <div>
        <div class="mat-title" [style.marginLeft.px]="isSmall ? 24 : 0">Tree Structure</div>
        <div class="mat-body-1" [style.marginLeft.px]="isSmall ? 24 : 0" style="margin-top: -8px">Folder Structure</div>
    </div>
    <blui-spacer></blui-spacer>
</mat-toolbar>

<div class="tree-example-container" [class.small]="isSmall">
    <div
        class="tree-structure-body"
        [class.mat-elevation-z4]="!isSmall"
        [class.mat-elevation-z0]="isSmall"
        [style.marginTop.px]="isSmall ? 0 : 24"
    >
        <mat-expansion-panel
            *ngFor="let topLevelItem of treeItems; let last = last"
            (opened)="topLevelItem.opened = true"
            (closed)="topLevelItem.opened = false"
            [hideToggle]="!topLevelItem.children"
            [style.marginBottom.px]="last ? -1 : 0"
            class="mat-elevation-z0"
        >
            <mat-expansion-panel-header
                [class.selected]="topLevelItem.selected"
                [class.no-children]="!topLevelItem.children"
            >
                <ng-container
                    [ngTemplateOutlet]="treeItemTemplate"
                    [ngTemplateOutletContext]="{ item: topLevelItem, depth: 0 }"
                >
                </ng-container>
            </mat-expansion-panel-header>
            <mat-expansion-panel
                class="mat-elevation-z0"
                *ngFor="let secondLevelItem of topLevelItem.children"
                (opened)="secondLevelItem.opened = true"
                (closed)="secondLevelItem.opened = false"
                [hideToggle]="!secondLevelItem.children"
            >
                <mat-expansion-panel-header
                    [class.selected]="secondLevelItem.selected"
                    [class.no-children]="!secondLevelItem.children"
                >
                    <ng-container
                        [ngTemplateOutlet]="treeItemTemplate"
                        [ngTemplateOutletContext]="{ item: secondLevelItem, depth: 1 }"
                    >
                    </ng-container>
                </mat-expansion-panel-header>

                <mat-expansion-panel
                    class="mat-elevation-z0"
                    *ngFor="let thirdLevelItem of secondLevelItem.children"
                    (opened)="thirdLevelItem.opened = true"
                    (closed)="thirdLevelItem.opened = false"
                    [hideToggle]="!thirdLevelItem.children"
                >
                    <mat-expansion-panel-header
                        [class.selected]="thirdLevelItem.selected"
                        [class.no-children]="!thirdLevelItem.children"
                    >
                        <ng-container
                            [ngTemplateOutlet]="treeItemTemplate"
                            [ngTemplateOutletContext]="{ item: thirdLevelItem, depth: 2 }"
                        >
                        </ng-container>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </mat-expansion-panel>

            <ng-template #treeItemTemplate let-item="item" let-depth="depth">
                <mat-panel-title>
                    <mat-radio-button
                        [class.mat-radio-checked]="item.selected"
                        [checked]="item.selected"
                        [name]="item.title"
                        [value]="item.title"
                        (click)="selectItem(item); stopProp($event)"
                        [style.marginRight.px]="depth * 32 + 16"
                        color="primary"
                    ></mat-radio-button>
                    <div class="folder-icon-wrapper">
                        <mat-icon *ngIf="!showOpenFolder(item)">folder</mat-icon>
                        <mat-icon *ngIf="showOpenFolder(item)">folder_opened</mat-icon>
                    </div>
                    {{ item.title }}
                </mat-panel-title>
            </ng-template>
        </mat-expansion-panel>
    </div>
</div>
