@import '~@pxblue/colors/palette.scss';

.tree-example-container {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    > div {
        width: 100%;
        max-width: 746px;
    }
    &.small {
        padding: 0px;
        justify-content: space-between;
        min-height: calc(100vh - 64px);
        @media screen and (max-width: 599px) {
            min-height: calc(100vh - 56px);
        }
        > div {
            max-width: unset;
        }
    }
}

.create-new-folder-icon {
    $iconSize: 16px;
    font-size: $iconSize;
    line-height: $iconSize;
    height: $iconSize;
    margin-left: -4px;
    margin-right: 4px;
}

::ng-deep .tree-structure-body {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    .mat-expansion-panel {
      border-radius: 0;
    }
    .mat-expansion-panel-header,
    .mat-expansion-panel-body {
        padding: 0;
    }
    .mat-expansion-panel-header {
        height: 56px;
        max-height: 56px;
        padding: 0 16px;
        border-bottom: solid 1px rgba(66, 78, 84, 0.12);

        &:not(.selected) {
          &:hover {
            background: rgba(0, 0, 0, 0.04) !important;
          }
          &.no-children:hover {
            background-color: unset !important;
          }
        }
    }
    .mat-expansion-panel-header-title {
        align-items: center;
    }
    .mat-content {
        overflow: visible;
    }
    .selected {
        background-color: map-get($pxb-blue, 50) !important;
        * {
            color: map-get($pxb-blue, 500) !important;
        }
    }
}

.folder-icon-wrapper {
    $iconSize: 18px;
    margin-right: 16px;
    height: $iconSize;
    ::ng-deep mat-icon {
        font-size: $iconSize;
        height: $iconSize;
        width: $iconSize;
        line-height: $iconSize;
    }
}
