<mat-toolbar color="primary" flexLayout="row">
    <button *ngIf="isSmall" mat-icon-button (click)="toggleMenu()" style="margin-left: -8px;">
        <mat-icon>menu</mat-icon>
    </button>
    <h6>Loading Example</h6>
    <div fxFlex></div>
    <button mat-button color="white" (click)="refreshData()">
        <mat-icon>autorenew</mat-icon>
    </button>
</mat-toolbar>

<div style="padding: 20px;">
    <mat-grid-list [cols]="cols" gutterSize="12px" rowHeight="270px">
        <mat-grid-tile *ngFor="let device of deviceList">
            <mat-card class="padding0">
                <app-placeholder-card *ngIf="!device.data" id="placeholder"></app-placeholder-card>

                <mat-list class="padding0" *ngIf="device.data" id="data-list">
                    <pxb-hero-banner [divider]="true">
                        <pxb-hero label="Grade" value="{{ device.data.heroValue }}" units="/100" size="36">
                            <span [style.color]="interpreter.interpretGrade(device.data.heroValue)" pxb-primary>
                                {{ interpreter.interpretIcon(device.data.heroValue) }}
                            </span>
                        </pxb-hero>
                        <pxb-hero label="Load">
                            <pie-progress
                                [style.color]="interpreter.interpretColor(100 - device.data.loadValue)"
                                percent="{{ device.data.loadValue }}"
                                size="36"
                                pxb-primary
                            ></pie-progress>
                            <pxb-channel-value value="{{ device.data.loadValue }}" units="%"> </pxb-channel-value>
                        </pxb-hero>
                        <pxb-hero label="Battery" value="{{ device.data.battery }}" units="%">
                            <battery-progress
                                [style.color]="interpreter.interpretColor(device.data.battery)"
                                percent="{{ device.data.battery }}"
                                size="36"
                                pxb-primary
                            ></battery-progress>
                        </pxb-hero>
                    </pxb-hero-banner>
                    <mat-list-item *ngFor="let list of device.data.channels">
                        <mat-icon>{{ list.icon }}</mat-icon>
                        <h3 class="list-label">{{ list.label }}</h3>
                        <div class="list-value">
                            <pxb-channel-value value="{{ list.value }}" units="{{ list.unit }}"></pxb-channel-value>
                        </div>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
