@import '~@pxblue/colors/palette.scss';

mat-list {
    color: map-get($pxb-gray, 800);
}

.loading-states-container {
    background-color: map-get($pxb-gray, 50);
    min-height: calc(100vh - 64px);
}

.mat-list-base .mat-list-item {
    color: inherit;
    height: 48px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-card {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.padding0 {
    padding: 0;
}

mat-grid-tile {
    overflow: visible;
}

::ng-deep pxb-hero-banner .pxb-hero-banner {
    justify-content: space-around;
}
