.collapsible-appbar-actions {
    display: flex;
    margin: 0 -12px;
    button {
        margin: 0 8px;
    }
}
.blui-three-liner-subtitle {
    font-weight: 400;
}

.blui-app-bar-background {
    background: linear-gradient(to bottom, rgba(0, 123, 193, 1) 22.4%, rgba(0, 123, 193, 0.2) 100%),
        url('../../../../assets/collapsible_app_bar_demo.jpg');
}
