<div class="eaton mat-typography" style="overflow-x: hidden;" fxFlexFill cdkScrollable>
    <mat-toolbar
        color="primary"
        [ngClass]="{ 'mat-elevation-z2': scrollTop > 200 }"
        style="position: fixed; top: 0; z-index: 10;"
        *ngIf="shrinkToolbar"
        data-cy="app-bar"
    >
        <mat-toolbar-row>
            <button *ngIf="isSmall" mat-icon-button (click)="toggleMenu()" style="margin-left: -8px;">
                <mat-icon>menu</mat-icon>
            </button>
            <div
                fxFlex="1 1 0px"
                fxLayout="column"
                fxLayoutAlign="start"
                style="margin-top: -8px;"
                [style.marginLeft.px]="isSmall ? 24 : 0"
            >
                <div class="mat-title" style="margin-bottom: 2px;">President</div>
                <div class="mat-subheading-2" style="line-height: 0.6rem;">Leader of the Free World</div>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar color="primary" class="abe">
        <mat-toolbar-row style="justify-content: space-between;">
            <button
                data-cy="toolbar-menu"
                *ngIf="isSmall"
                mat-icon-button
                (click)="toggleMenu()"
                style="margin-left: -8px;"
            >
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row
            data-cy="banner"
            fxLayout="column"
            fxLayoutAlign="start"
            style="height: auto; margin-left: 56px;"
            [ngStyle]="{ opacity: 1 - scrollTop / 200 }"
        >
            <div class="mat-display-1">President</div>
            <div class="mat-headline">Commander in Chief</div>
            <div class="mat-title">Leader of the Free World</div>
        </mat-toolbar-row>
        <mat-toolbar-row></mat-toolbar-row>
    </mat-toolbar>

    <mat-list>
        <pxb-info-list-item *ngFor="let item of list">
            <mat-icon pxb-icon>person</mat-icon>
            <span pxb-title>{{ item.president }}</span>
            <span pxb-subtitle>{{ item.party }}</span>
            <span pxb-info>{{ item.tookOffice }}</span>
        </pxb-info-list-item>
    </mat-list>
</div>
