header {
    position: fixed;
    top: 0;
    z-index: 11;
    transition: all 250ms ease-in-out;
}

.main-header {
    @extend header;
    position: sticky;
    top: 0;
    z-index: 1000;

    &.hidden {
        opacity: 0;
    }
}

.search-block {
    width: 0%;
    right: 0;
    z-index: 1000;
    @extend header;
    background: #fff;

    &.active {
        width: 100%;
    }

    .search-control {
        flex: 1;
        font-size: 1rem;
        border: 0;
        outline: none;
        padding-left: 10px;

        &::-ms-clear {
            height: 0;
            width: 0;
        }
    }
}
