@import '~@pxblue/colors/palette.scss';

pxb-info-list-item {
  cursor: pointer;

  ::ng-deep &.selected mat-list-item {
    background-color: map-get($pxb-gray, 100) !important;
  }
}

mat-nav-list {
  padding-top: 0px;
}
