<mat-toolbar data-cy="blui-toolbar" color="primary" class="app-bar mat-elevation-z2">
    <button data-cy="toolbar-menu" *ngIf="isSmall" style="margin-left: -8px" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="mat-title" [style.marginLeft.px]="isSmall ? 24 : 0">Action List</div>
    <blui-spacer></blui-spacer>
    <button
        data-cy="toolbar-delete"
        matTooltip="Remove all items"
        mat-icon-button
        (click)="onRemoveAll()"
        style="margin-right: 8px"
    >
        <mat-icon>delete</mat-icon>
    </button>
    <button
        data-cy="toolbar-add"
        matTooltip="Add a new item"
        mat-icon-button
        (click)="onAddItem()"
        style="margin-right: -8px"
    >
        <mat-icon>add</mat-icon>
    </button>
</mat-toolbar>
<mat-list *ngIf="data.length > 0">
    <blui-info-list-item [hidePadding]="true" *ngFor="let i of data" data-cy="list-content">
        <span blui-title>{{ i.name }}</span>
        <span blui-subtitle>{{ i.details }}</span>
        <span blui-right-content style="margin-right: -8px">
            <button
                data-cy="action-menu"
                mat-icon-button
                #menuTrigger="matMenuTrigger"
                [matMenuTriggerFor]="menu"
                (click)="menuTrigger.openMenu()"
            >
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button data-cy="remove" mat-menu-item (click)="onRemoveItem(i)">Remove</button>
                <button data-cy="details" mat-menu-item>View Details</button>
            </mat-menu>
        </span>
    </blui-info-list-item>
</mat-list>
<div *ngIf="data.length === 0" style="height: calc(100vh - 64px)">
    <blui-empty-state title="No Items Found" style="margin: 16px">
        <mat-icon blui-empty-icon>error</mat-icon>
        <button data-cy="blui-empty-state-add" blui-actions mat-raised-button color="primary" (click)="onAddItem()">
            <mat-icon>add</mat-icon>
            Add An Item
        </button>
    </blui-empty-state>
</div>
