version: 2.1
orbs:
    codecov: codecov/codecov@3.2.2
    browser-tools: circleci/browser-tools@1.2.4
jobs:
    build_project:
        working_directory: ~/angular-design-patterns
        docker:
            - image: cimg/node:14.19.0-browsers
        resource_class: large
        steps:
            - checkout
            - browser-tools/install-browser-tools
            - restore_cache:
                keys:
                    - v2-dependencies-{{ checksum "yarn.lock" }}
            - run:
                name: Install Dependencies
                command: |
                    yarn install --frozen-lockfile
            - save_cache:
                name: Save Cache
                paths:
                    - ~/.cache
                    - node_modules
                key: v2-dependencies-{{ checksum "yarn.lock" }}
            - run:
                name: Prettier Check
                command: |
                    yarn prettier:check
            - run:
                name: Lint
                command: |
                    yarn lint
            - run:
                name: Unit Tests
                command: |
                    yarn test --no-watch --code-coverage
            - run:
                name: Build Project
                command: |
                    yarn build
            # Save the coverage folder for codecov report upload.
            - persist_to_workspace:
                root: .
                paths:
                    - coverage

    cypress_tests:
        working_directory: ~/angular-design-patterns
        docker:
            - image: cimg/node:14.19.0-browsers
        resource_class: large
        steps:
            - checkout
            - restore_cache:
                keys:
                    - v2-dependencies-{{ checksum "yarn.lock" }}
            - run:
                name: Install Dependencies
                command: |
                    yarn install --frozen-lockfile
            - save_cache:
                name: Save Cache
                paths:
                    - ~/.cache
                    - node_modules
                key: v2-dependencies-{{ checksum "yarn.lock" }}
            - run:
                name: Cypress E2E Tests
                command: |
                    yarn cytest
            - store_artifacts:
                path: cypress/screenshots
            - persist_to_workspace:
                root: .
                paths:
                    - cypress-coverage
            - run:
                  name: Memory Usage
                  command: cat /sys/fs/cgroup/memory/memory.max_usage_in_bytes
                  when: always

    coverage_reports:
        working_directory: ~/angular-design-patterns
        docker:
            - image: cimg/node:14.19.0-browsers
        steps:
            - checkout
            - attach_workspace:
                at: .
            - codecov/upload:
                file: './coverage/lcov.info'
                token: 4cb4f10a-b3f7-4e5e-b4ba-6e5d5d272eb7
            - codecov/upload:
                file: './cypress-coverage/lcov.info'
                token: 4cb4f10a-b3f7-4e5e-b4ba-6e5d5d272eb7

workflows:
    version: 2
    angular_design_patterns:
        jobs:
            - build_project
            - cypress_tests:
                   requires:
                       - build_project
                   filters:
                       branches:
                           only:
                               - master
                               - dev
            - coverage_reports:
                requires:
                    - build_project
                    - cypress_tests
                filters:
                    branches:
                        only:
                             - master
                             - dev
