<section class="language-list">
    <mat-list class="language-setting-section">
        <blui-info-list-item [hidePadding]="true" divider="full">
            <mat-icon blui-icon>check</mat-icon>
            <div class="title-section" blui-title>
                <span class="title-label">Deutsch</span>
            </div>
        </blui-info-list-item>
        <blui-info-list-item [hidePadding]="true" divider="full">
            <mat-icon blui-icon></mat-icon>
            <div class="title-section" blui-title>
                <span class="title-label">English (U.S.)</span>
            </div>
        </blui-info-list-item>
        <blui-info-list-item [hidePadding]="true" divider="full">
            <mat-icon blui-icon></mat-icon>
            <div class="title-section" blui-title>
                <span class="title-label">Español (ES)</span>
            </div>
        </blui-info-list-item>
        <blui-info-list-item [hidePadding]="true" divider="full">
            <mat-icon blui-icon></mat-icon>
            <div class="title-section" blui-title>
                <span class="title-label">Français (FR)</span>
            </div>
        </blui-info-list-item>
    </mat-list>
</section>
