@import '~@pxblue/colors/palette.scss';

::ng-deep .eula-checkbox .mat-checkbox-layout {
    white-space: normal;
}

::ng-deep .eula-checkbox .mat-checkbox-inner-container {
    width: 18px;
    height: 18px;
    margin-right: 16px;
}

.spinner-overlay-container {
    height: calc(100vh - 64px);
    margin: 0 auto;
    padding: 16px 16px;
    max-width: 450px;

    .eula-container {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 0;
        position: relative;
        max-width: 450px;
        max-height: 730px;
        flex-direction: column;
    }

    .loading-overlay-container {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        z-index: 4;
        position: absolute;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .spinner-overlay-header {
        padding: 32px 24px 0 24px;
        margin: 0;
        ::ng-deep .mat-card-header-text {
            margin: 0;
        }
        .mat-card-title {
            margin: 0;
        }
    }

    .loading-container {
        flex: 1 1 0px;
        display: flex;
        padding: 16px 24px;
        overflow: auto;
        position: relative;
        flex-direction: column;
        margin: 0;

        .eula-content {
            flex: 1 1 0px;
            overflow: auto;
        }

        .eula-confirmation-check {
            flex: 0 0 auto;
            margin-top: 16px;
            margin-right: 0;
        }
    }

    .eula-divider {
        position: relative;
        margin: 0;
    }

    .mat-card-actions {
        padding: 24px;
        justify-content: flex-end;
        margin: 0;

        .reload-button {
            width: 100%;
            margin: 0;
        }
    }
}

@media only screen and (max-width: 600px) {
    .spinner-overlay-container {
        padding: 0;
        height: calc(100vh - 56px);
        max-width: none;
        .eula-container {
            max-width: none;
            max-height: none;
        }
        .spinner-overlay-header {
            padding: 32px 16px 0 16px;
        }
        .loading-container {
            padding: 16px 16px 24px 16px;
        }
        .mat-card-actions {
            padding: 16px;
        }
    }
}
