@import '~@pxblue/colors/palette.scss';

::ng-deep .eula-checkbox .mat-checkbox-layout {
    white-space: normal;
}

::ng-deep .eula-checkbox .mat-checkbox-inner-container {
    width: 18px;
    height: 18px;
}

.spinner-overlay-header {
    ::ng-deep .mat-card-header-text {
        margin: 0;
    }
}
