@import "~@pxblue/colors/palette.scss";

.drawer {
  width: 350px;
  height: 100vh;
  border-right: 1px solid map-get($pxb-black, 50);
}

.sidenav {
  max-width: 90%;
  transition: width 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  width: 350px;
  height: 100vh;
}

.navWrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

section {
  flex: 0 0 auto;
}

[matListIcon] {
  margin-right: 16px;
}

[matSubheader] {
  white-space: nowrap;
}

.primaryLink {
  position: relative;
  color: #007bc1;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
  }

  [matListItemContent] {
    background-color: blue;
  }
}

.primaryLink::before {
  content: '';
  z-index: -1;
  position: absolute;
  height: 100%;
  width: calc(100% - 8px);
  min-width: 90px;
  left: 0;
  top: 0;
  background-color: #e0eff8;
  border-radius: 0px 24px 24px 0px;
}
