<div class="menu-in-drawer-example">
    <mat-sidenav-container class="drawer-container" (backdropClick)="isTempDrawerOpen = false">
        <mat-sidenav mode="over" class="sidenav" [opened]="isTempDrawerOpen" position="start">
            <pxb-drawer  [openOnHover]="false">
                <pxb-drawer-header class="account-menu-drawer-header">
                  <div pxb-title-content style="width: 100%">
                    <div style="display: flex; justify-content: space-between">
                      <img class="avatar" src="assets/avatar_40.png">
                      <button
                        style="margin-top: 16px"
                        mat-icon-button
                        (click)="isTempDrawerOpen = false"
                      >
                        <mat-icon>close</mat-icon>
                      </button>
                    </div>
                    <div class="mat-title" style="margin-bottom: -8px;">Chima Thabani</div>
                    <div class="mat-body-1">CThabani@example.com
                    </div>
                  </div>

                </pxb-drawer-header>
                <pxb-drawer-body>
                    <pxb-drawer-nav-group>
                        <pxb-drawer-nav-item
                            *ngFor="let navItem of topItems"
                            [title]="navItem.title"
                            [selected]="selected === navItem.title"
                            (select)="select(navItem)"
                        >
                            <mat-icon pxb-icon>{{ navItem.icon }}</mat-icon>
                        </pxb-drawer-nav-item>
                    </pxb-drawer-nav-group>
                    <pxb-spacer></pxb-spacer>
                    <pxb-drawer-nav-group>
                        <pxb-drawer-nav-item
                            *ngFor="let navItem of bottomItems"
                            [title]="navItem.title"
                            [selected]="selected === navItem.title"
                            (select)="select(navItem)"
                        >
                            <mat-icon pxb-icon>{{ navItem.icon }}</mat-icon>
                        </pxb-drawer-nav-item>
                    </pxb-drawer-nav-group>
                </pxb-drawer-body>
            </pxb-drawer>
        </mat-sidenav>
        <mat-sidenav-content class="content">
            <mat-toolbar data-cy="pxb-toolbar" color="primary" class="app-bar mat-elevation-z2">
                <button
                    data-cy="toolbar-menu"
                    *ngIf="isSmall"
                    style="margin-left: -8px"
                    mat-icon-button
                    (click)="toggleMenu()"
                >
                    <mat-icon>menu</mat-icon>
                </button>
                <div class="mat-title" [style.marginLeft.px]="isSmall ? 24 : 0">In a Drawer</div>
            </mat-toolbar>
            <div class="button-container">
                <button color="primary" mat-flat-button (click)="isTempDrawerOpen = true">
                    <mat-icon>menu_open</mat-icon>
                    Open Drawer
                </button>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
