.bottomPanel {
    min-width: 600px;
    width: 100%;
    max-width: 600px;
    padding: 0;
    max-height: unset;
    .mat-nav-list {
        padding: 0;
    }
    a {
        padding: 8px;
        cursor: pointer;
        text-align: center;
        &.active {
            color: #007bc1;
        }
    }
    .footer-list {
        padding: 16px;
    }
    h3 {
        margin: 0;
        text-transform: uppercase;
        color: #424e54;
        font-size: 12px;
        letter-spacing: 2px;
        font-weight: 600;
    }
    .footer-close {
        position: sticky;
        bottom: 0;
        background-color: white;
    }
}

@media (max-width: 600px) {
    .bottomPanel {
        min-width: 100vw;

        .mat-nav-list mat-list-item .mat-line {
            text-overflow: inherit;
            white-space: normal;
        }
    }
    .on-wide-screen {
        display: none;
    }
}

@media (min-width: 601px) {
    .footer-close.mat-elevation-z8 {
        box-shadow: unset;
    }
}
