@import '~@brightlayer-ui/colors/palette.scss';

.mat-h3 {
    margin-bottom: 0;
}

.active {
    .blui-hero-label,
    &.blui-hero .blui-hero-primary-wrapper {
        color: map-get($blui-blue, 500);
    }
}

.bottomPanel {
    min-width: 600px;
    width: 100%;
    max-width: 600px;
    padding: 0;
    max-height: unset;
    .footer-list {
        padding: 8px 16px;
    }
    .footer-close {
        position: sticky;
        bottom: 0;
        background-color: white;
    }
}

@media (max-width: 600px) {
    .bottomPanel {
        min-width: 100vw;
        .mat-nav-list mat-list-item .mat-line {
            text-overflow: inherit;
            white-space: normal;
        }
    }
    .on-wide-screen {
        display: none;
    }
}

@media (min-width: 601px) {
    .footer-close.mat-elevation-z2 {
        box-shadow: unset;
    }
}

.bottomPanel {
    blui-hero {
        flex: unset !important;
        cursor: pointer;
        min-width: 100px;
    }
    blui-hero-banner {
        height: 100px;
    }
}
