<mat-toolbar color="primary" class="app-bar mat-elevation-z4" data-cy="pxb-toolbar">
    <button data-cy="toolbar-menu" *ngIf="isSmall" style="margin-left: -8px" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="mat-title" [style.marginLeft.px]="isSmall ? 24 : 0">Phone Number Format</div>
</mat-toolbar>
<section class="mat-typography" [class.small]="isSmall">
    <form [formGroup]="validatePhoneNumberForm" class="phone-number-form">
        <mat-form-field class="country-code-select" appearance="fill">
            <mat-label>Country Code</mat-label>
            <mat-select
                formControlName="selectedCountry"
                (selectionChange)="onCountryChange($event)"
                panelClass="selectPanel"
            >
                <mat-option [value]="option.code" *ngFor="let option of countries">{{ option.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="phone-number-input" appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input
                matInput
                formControlName="phone"
                [value]="validatePhoneNumberForm.get('phone').value | formatPhoneNumber: selectedCountry"
                inputmode="numeric"
                [maxlength]="12"
                (keypress)="matcher($event)"
                [placeholder]="countryPlaceholder"
            />
            
            <mat-error
                *ngIf="
                    validatePhoneNumberForm.get('phone').hasError('phoneNumberNotMatch') ||
                    validatePhoneNumberForm.get('phone').hasError('required')
                "
            >
                Please enter a valid {{ selectedCountry }} phone number.
            </mat-error>
        </mat-form-field>
        <p>
            <!-- Formatted Phone Number: <b>{{ '1234567890' | formatPhoneNumber }}</b> -->
          </p>
    </form>
</section>
