@import '~@pxblue/colors/palette.scss';

section {
    .app-bar-header {
        margin: 40px auto 24px;
        max-width: 600px;
    }
    .app-bar-container {
        margin: 0 auto;
        padding: 0 16px;
        max-width: 960px;
    }
    .text-container {
        margin-left: 24px;
        overflow: hidden;
        .sub-heading {
            margin-top: -4px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.menu-header {
    padding: 16px;
}

.app-bar-example {
    margin-bottom: 24px;
    padding-left: 8px;
}

.user-menu-with-custom-chip {
    ::ng-deep .pxb-user-menu-avatar		{
        background-color: transparent;
    }
    
    ::ng-deep .pxb-user-menu-avatar-content {
        height: auto;
        width: auto;
    }
}

@media only screen and (max-width: 600px) {
    .app-bar-header {
        padding: 0 16px;
    }
}