@import '~@bluilue/colors/palette.scss';

section {
    .app-bar-header {
        margin: 40px auto 24px;
        max-width: 600px;
    }
    .app-bar-container {
        margin: 0 auto;
        padding: 0 16px;
        max-width: 960px;
    }
    .text-container {
        margin-left: 24px;
        overflow: hidden;
        .sub-heading {
            margin-top: -4px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.menu-header {
    padding: 16px;
}

.badge {
    height: 8px;
    width: 8px;
    background-color: map-get($blui-green, 500);
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    color: map-get($blui-green, 500);
    box-shadow: 0 0 0 2px map-get($blui-white, 50);
    background-color: map-get($blui-green, 500);
}

.app-bar-example {
    margin-bottom: 24px;
    padding-left: 8px;
}

.user-menu-with-custom-chip {
    ::ng-deep .blui-user-menu-avatar {
        background-color: transparent;
    }

    ::ng-deep .blui-user-menu-avatar-content {
        height: auto;
        width: auto;
    }

    .left-icon {
        color: #727e84;
        font-size: 24px;
        width: 24px;
        height: 24px;
        margin-left: -8px;
    }

    .right-icon {
        vertical-align: middle;
        margin-top: -4px;
        margin-right: -8px;
    }
}

@media only screen and (max-width: 600px) {
    .app-bar-header {
        padding: 0 16px;
    }
}
