@import '~@pxblue/colors/palette.scss';

::ng-deep .pxb-drawer-layout-nav-content {
    background-color: map-get($pxb-white, 50);
}
section.list-validation {
    padding-top: 24px;
    max-width: 686px;
    margin: 0 auto;

    .list-card {
        padding: 0;
        mat-list {
            padding: 0;
        }
    }
}
.ip-address {
    border: 0;
    background-color: map-get($pxb-white, 200);
    height: 40px;
    outline: 0;
    font-size: 16px;
    padding: 8px 16px;
    border-bottom: 1px solid map-get($pxb-gray, 100);
}
@media only screen and (max-width: 600px) {
    section.list-validation {
        .list-card {
            border-radius: 0;
        }
    }

    .ip-address {
        max-width: 138px;
    }
}
