@import '~@pxblue/colors/palette';

.pxb-auth-password-check.mat-list-item ::ng-deep .mat-list-item-content {
    padding: 0;
}

.pxb-auth-password-check {
    height: auto;

    .validation-message {
        padding-left: 8px;
        font-weight: 400;
        line-height: 1.75;
    }
    .check-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
    }
}

mat-icon,
.validation-message.success {
    color: map-get($pxb-gray, 200);
}
