<div class="hero-banner-section example-section">
    <mat-card>
        <div class="ph-item">
            <div class="ph-col-4" *ngFor="let hero of [0, 1, 2]">
                <div class="ph-avatar"></div>
                <div class="ph-row">
                    <div class="ph-col-2 big empty"></div>
                    <div class="ph-col-8 big"></div>
                    <div class="ph-col-2 big empty"></div>
                </div>
                <div class="ph-row">
                    <div class="ph-col-12"></div>
                </div>
            </div>
        </div>
    </mat-card>
</div>
