<blui-drawer-layout
    [width]="292"
    [variant]="viewportService.isSmall() ? 'temporary' : 'permanent'"
    (backdropClick)="stateService.setDrawerOpen(false)"
>
    <blui-drawer blui-drawer [open]="stateService.getDrawerOpen()">
        <blui-drawer-header
            title="Brightlayer UI"
            subtitle="Angular Design Patterns"
            (click)="navigateHome()"
            style="cursor: pointer"
        ></blui-drawer-header>
        <blui-drawer-body>
            <blui-drawer-nav-group>
                <blui-drawer-nav-item
                    *ngFor="let navItem of routes"
                    [title]="navItem.title"
                    [selected]="selected === navItem.title"
                    (select)="select(navItem)"
                >
                    <blui-drawer-nav-item
                        *ngFor="let nestedItem of navItem.children"
                        [hidePadding]="false"
                        [title]="nestedItem.title"
                        [selected]="selected === nestedItem.title"
                        (select)="select(nestedItem, navItem.path + '/')"
                        activeItemBackgroundShape="round"
                    >
                    </blui-drawer-nav-item>
                </blui-drawer-nav-item>
            </blui-drawer-nav-group>
        </blui-drawer-body>
    </blui-drawer>
    <div blui-content class="app-content">
        <router-outlet></router-outlet>
    </div>
</blui-drawer-layout>
