@import "~@pxblue/colors/palette.scss";

.right-panel {
    height: 100vh;
    border-left: 1px solid map-get($pxb-black, 50);
    padding: 1rem;
    width: 270px;
}

@media screen and (max-width: 960px) {
    .right-panel {
        display: none;
    }
}