<mat-toolbar data-cy="pxb-toolbar" color="primary" class="app-bar">
    <button data-cy="toolbar-menu" *ngIf="isSmall" style="margin-left: -8px;" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="mat-title" [style.marginLeft.px]="isSmall ? 24 : 0">Data List</div>
    <pxb-spacer></pxb-spacer>
</mat-toolbar>
<mat-list>
    <pxb-info-list-item *ngFor="let item of list" [hidePadding]="true">
        <span pxb-title>{{ item.name }}</span>
        <span pxb-right-content>{{ item.year }}</span>
    </pxb-info-list-item>
</mat-list>
