:host {
    display: block;
    overflow: hidden;
}

.panes {
    height: 100%;
    width: 200%;

    display: flex;
    div {
        flex: 1;
    }
    &.right-pane {
        height: calc(100vh - 64px);
    }
}
@media only screen and (max-width: 960px) {
    .panes {
        height: 100%;
        width: 200%;

        display: flex;
        div {
            flex: 1;
        }
        &.right-pane {
            height: calc(100vh - 56px);
        }
    }
}
