@import '~@brightlayer-ui/colors/palette.scss';

.toolbar-container {
    position: sticky;
    z-index: 1000;
    top: 0;
    overflow-x: hidden;
}
.selected-header {
    z-index: -1;
    position: absolute;
    top: 0;
    opacity: 0;
    background: map-get($blui-black, 500);
    color: map-get($blui-white, 50);
    transition: opacity 200ms ease-in-out;
    &.active {
        opacity: 1;
        z-index: 1;
    }
    .mat-icon {
        color: map-get($blui-white, 50);
    }
}

.contextual-table-body {
    display: flex;
    justify-content: center;
    align-items: center;
    .contextual-table-container {
        overflow: auto;
        max-width: 800px;
        width: 100%;
        padding: 16px;
        &.small {
            padding: 0;
            max-width: unset;
        }
    }
    .delete-items-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }
    .desktop-delete-icon {
        margin-right: 4px;
        margin-bottom: 2px;
        font-size: 16px;
        height: 16px;
        width: 16px;
    }
    .contextual-table {
        width: 100%;

        .selected {
            background-color: rgba(map-get($blui-blue, 500), 0.05);
            .checkbox-cell {
                background-color: unset;
            }
        }
        th {
            font-weight: 600;
            font-size: 14px;
            color: map-get($blui-black, 500);
        }
        tr {
            td {
                font-size: 14px;
            }
            th.mat-header-cell:first-of-type,
            td:first-of-type {
                padding-left: 20px;
            }
        }
        .checkbox-header {
            min-width: 72px;
            padding-right: 32px;
        }
        .name-header,
        .ip-header {
            min-width: 150px;
        }
    }
}
.no-items-found {
    text-align: center;
    padding: 16px;
    .reset-table {
        color: map-get($blui-blue, 500);
        text-decoration: underline;
        cursor: pointer;
    }
}

.empty-state-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px);
    &.sm {
        height: calc(100vh - 56px);
    }
}

.mobile-only-message {
    margin-top: 24px;
    font-weight: 400;
    color: map-get($blui-gray, 500);
    &.small {
        padding: 0 16px;
    }
}
