<div class="toolbar-container mat-elevation-z4">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button *ngIf="isSmall" (click)="toggleMenu()" style="margin-left: -8px">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="mat-title" [style.marginLeft.px]="isSmall ? 24 : 0">Contextual App Bar</div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar class="selected-header" [class.active]="isSmall && selectedItems.size > 0">
        <mat-toolbar-row style="padding: 0 16px">
            <button mat-icon-button style="margin-left: -8px; margin-right: 24px" (click)="clearSelection()">
                <mat-icon>close</mat-icon>
            </button>
            <span style="font-size: 20px; font-weight: 400">{{ selectedItems.size }} selected </span>
            <pxb-spacer></pxb-spacer>
            <button mat-icon-button (click)="deleteSelected()" style="margin-right: -8px">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<div class="contextual-table-body">
    <div class="contextual-table-container" [class.small]="isSmall">
        <div *ngIf="!isSmall" class="delete-items-row">
            <div class="mat-caption">{{ selectedItems.size }} selected item(s)</div>
            <button color="warn" mat-stroked-button [disabled]="selectedItems.size === 0" (click)="deleteSelected()">
                <mat-icon class="desktop-delete-icon">delete</mat-icon>
                Delete Selected Items
            </button>
        </div>
        <div [style.backgroundColor]="Colors.white[50]">
            <table mat-table [dataSource]="matDataSource" class="contextual-table">
                <ng-container matColumnDef="checkbox" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-header class="checkbox-header">
                        <mat-checkbox
                            [checked]="allSelected"
                            [indeterminate]="selectedItems.size > 0 && !allSelected"
                            (change)="toggleAllSelected()"
                        >
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element" class="checkbox-cell">
                        <mat-checkbox
                            [checked]="selectedItems.has(element.name)"
                            (change)="
                                selectedItems.has(element.name) ? removeItem(element.name) : selectItem(element.name)
                            "
                        >
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-header class="name-header">Name</th>
                    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>
                <ng-container matColumnDef="ip">
                    <th mat-header-cell *matHeaderCellDef mat-header class="ip-header">IP Address</th>
                    <td mat-cell *matCellDef="let element">{{ element.ip }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    style="height: 48px"
                    [ngClass]="{ selected: selectedItems.has(row.name) }"
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>

            <div *ngIf="devices.length === 0" class="no-items-found">
                No items found. <span class="reset-table" (click)="resetTable()">Reset table</span>
            </div>
        </div>
        <div *ngIf="!isSmall" class="mobile-only-message mat-body-2">
          {{ mobileOnlyMsg }}
        </div>
    </div>
</div>

<div *ngIf="isSmall" class="mobile-only-message mat-body-2 small">
  {{ mobileOnlyMsg }}
</div>
