@import '~@pxblue/colors/palette.scss';

.main-header {
    transition: opacity 250ms ease-in-out;
    &.hidden {
        opacity: 0;
    }
}

.search-header {
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    background: map-get($pxb-black, 500);
    transition: width 250ms ease-in-out;

    &.active {
        width: 100%;
    }

    .search-control {
        flex: 1;
        font-size: 1rem;
        border: 0;
        outline: none;
        padding-left: 10px;

        &::-ms-clear {
            height: 0;
            width: 0;
        }
    }
}

.contextual-table {
    width: 100%;
    th {
        font-weight: 600;
        font-size: 14px;
    }
}
