<mat-toolbar color="primary" class="app-bar mat-elevation-z2" data-cy="pxb-toolbar">
    <button data-cy="toolbar-menu" *ngIf="isSmall" style="margin-left: -8px" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="mat-title" [style.marginLeft.px]="isSmall ? 24 : 0">Verify On Submit</div>
</mat-toolbar>

<pxb-slide-panel [activePane]="isLeftPaneVisible ? 'left' : 'right'">
    <div leftPane>
        <section class="find-device">
            <h2>Find Device</h2>
            <div class="mat-body-1 success-code-message">
                <p>For the purpose of this demonstration, use <strong>123</strong> for successful device search.</p>
            </div>
            <form [formGroup]="searchDeviceForm" class="find-device">
                <mat-form-field appearance="fill">
                    <mat-label>Serial Number</mat-label>
                    <input
                        matInput
                        placeholder="Serial Number"
                        required
                        formControlName="serialNumber"
                        type="text"
                        data-cy="serial-number"
                        #serialNumberInput
                        [errorStateMatcher]="errorMatcher"
                    />
                    <mat-error *ngIf="searchDeviceForm.controls.serialNumber.errors?.deviceNotFound">
                        Device not found.
                    </mat-error>
                </mat-form-field>
                <div class="button-container">
                    <button
                        class="search-device-btn"
                        mat-flat-button
                        color="primary"
                        [disabled]="!searchDeviceForm.controls.serialNumber.value"
                        [ngClass]="formSubmit ? 'show-spinner' : 'show-text'"
                        (click)="searchDevice()"
                    >
                        <span data-cy="search-button" class="text-container">
                            <mat-icon>search</mat-icon>
                            Search Device
                        </span>
                        <div class="spinner-container">
                            <mat-spinner class="primary-spinner" diameter="20"></mat-spinner>
                        </div>
                    </button>
                </div>
            </form>
        </section>
    </div>
    <div rightPane [hidden]="isLeftPaneVisible">
        <section class="add-new-device">
            <pxb-empty-state title="Success" description="Device “123” has been added to your repository.">
                <mat-icon pxb-empty-icon>check_circle</mat-icon>
                <button mat-raised-button color="primary" pxb-actions (click)="addAnotherDevice()">
                    <mat-icon>add</mat-icon>
                    Add another device
                </button>
            </pxb-empty-state>
        </section>
    </div>
</pxb-slide-panel>
