<mat-toolbar color="primary" class="app-bar mat-elevation-z2" data-cy="pxb-toolbar">
    <button data-cy="toolbar-menu" *ngIf="isSmall" style="margin-left: -8px" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="mat-title" [style.marginLeft.px]="isSmall ? 24 : 0">Password Validation</div>
</mat-toolbar>

<section class="change-password-section" [class.fullScreen]="!useCard">
    <mat-card class="change-password-card">
        <mat-card-header *ngIf="useCard">
            <mat-card-title style="margin-bottom: 0">Change Password</mat-card-title>
        </mat-card-header>
        <mat-card-content class="change-password-card-content">
            <p class="change-password-card-subtitle">
                Password must be at least 8 characters long, contain at least one uppercase character, one lowercase
                character, one number, and one special character.
            </p>
            <mat-divider class="top-divider"></mat-divider>
            <form [formGroup]="userPassword" class="user-password-form">
                <mat-form-field appearance="fill">
                    <mat-label>Current Password</mat-label>
                    <input
                        matInput
                        [type]="oldPasswordVisible ? 'text' : 'password'"
                        placeholder="Current Password"
                        required
                        formControlName="oldPassword"
                        data-cy="old-password"
                    />
                    <button mat-icon-button matSuffix (click)="toggleOldPasswordVisibility()">
                        <mat-icon>{{ oldPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                </mat-form-field>
                <div [formGroup]="passwordFormGroup" class="change-password-form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>New Password</mat-label>
                        <input
                            matInput
                            placeholder="New Password"
                            required
                            formControlName="newPassword"
                            [type]="newPasswordVisible ? 'text' : 'password'"
                            data-cy="new-password"
                        />
                        <button mat-icon-button matSuffix (click)="toggleNewPasswordVisibility()">
                            <mat-icon>{{ newPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="validation-list">
                        <pxb-password-strength-checker
                            [(meetsRequirements)]="passesStrengthCheck"
                            [formValue]="passwordFormGroup.get('newPassword')?.value"
                            [requirements]="passwordRequirements"
                        >
                        </pxb-password-strength-checker>
                    </div>
                    <mat-form-field appearance="fill">
                        <mat-label>Confirm Password</mat-label>
                        <input
                            matInput
                            placeholder="Confirm Password"
                            required
                            formControlName="confirmPassword"
                            [type]="confirmPasswordVisible ? 'text' : 'password'"
                            [errorStateMatcher]="errorMatcher"
                            data-cy="confirm-password"
                        />
                        <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()">
                            <mat-icon>{{ confirmPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
                        </button>
                        <mat-error
                            data-cy="error-matching-password"
                            *ngIf="passwordFormGroup.hasError('passwordsDoNotMatch')"
                            >Passwords do not match
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
        <mat-divider class="bottom-divider"></mat-divider>
        <mat-card-actions>
            <button
                data-cy="cancel-btn"
                class="cancel-button"
                mat-stroked-button
                color="primary"
                (click)="clearFields()"
            >
                Cancel
            </button>
            <button
                data-cy="submit-btn"
                class="submit-button"
                mat-flat-button
                [disabled]="!hasValidPasswords()"
                color="primary"
            >
                Submit
            </button>
        </mat-card-actions>
    </mat-card>
</section>
