@import '~@pxblue/colors/palette.scss';

mat-form-field {
    width: 100%;
    margin-bottom: 32px;
}
.small mat-form-field {
    margin-bottom: 24px;
}
::ng-deep .mat-card-header-text {
    margin: 0 !important;
}

.change-password-container {
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;

    .change-password-card {
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        max-width: 450px;
        max-height: 686px;
        flex-direction: column;
        overflow: auto;

        .change-password-content {
            flex: 1 1 0;
            display: flex;
            flex-direction: column;
            padding: 32px 24px 24px;
        }
    }
}

.change-password {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    height: 100%;

    .change-password-container-full-height {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;

        mat-divider {
            margin-top: 16px;
            margin-bottom: 32px;
            margin-left: -24px !important;
            margin-right: -24px !important;
            position: static !important;
            width: auto !important;
        }
    }
}

.bottom-divider {
    margin-left: -24px !important;
    margin-right: -24px !important;
    position: static !important;
    width: auto !important;
    margin-bottom: 24px;
}

mat-card-actions {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    .cancel-button,
    .submit-button {
        width: 100px;
    }
}

@media only screen and (max-width: 600px) {
    .change-password-container {
        height: calc(100vh - 56px);
        .change-password-card {
            max-width: none;
            max-height: none;
            border-radius: 0;
        }
    }

    mat-card-actions {
        .cancel-button {
            display: none;
        }
        .submit-button {
            width: 100%;
        }
    }
}
