<mat-toolbar color="primary" class="app-bar mat-elevation-z2" data-cy="pxb-toolbar">
    <button data-cy="toolbar-menu" *ngIf="isSmall" style="margin-left: -8px" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="mat-title" [style.marginLeft.px]="isSmall ? 24 : 0">Password Validation</div>
</mat-toolbar>

<div class="change-password-container">
    <mat-card class="change-password-card">
        <div class="change-password-content">
            <div class="change-password">
                <mat-card-header>
                    <mat-card-title>Change Password</mat-card-title>
                </mat-card-header>
                <div class="change-password-container-full-height">
                    <p style="margin-bottom: 24px;">
                        Password must be at least 8 characters long, contain at least one uppercase character, one
                        lowercase character, one number, and one special character.
                    </p>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <form [formGroup]="userPassword" class="user-password-form">
                            <mat-form-field appearance="fill">
                                <mat-label>Current Password</mat-label>
                                <input
                                    matInput
                                    [type]="oldPasswordVisible ? 'text' : 'password'"
                                    placeholder="Current Password"
                                    required
                                    formControlName="oldPassword"
                                    data-cy="old-password"
                                />
                                <button mat-icon-button matSuffix (click)="toggleOldPasswordVisibility()">
                                    <mat-icon>{{ oldPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
                                </button>
                            </mat-form-field>
                            <div [formGroup]="passwordFormGroup">
                                <mat-form-field appearance="fill" style="margin-bottom: 24px">
                                    <mat-label>New Password</mat-label>
                                    <input
                                        matInput
                                        placeholder="New Password"
                                        required
                                        formControlName="newPassword"
                                        [type]="newPasswordVisible ? 'text' : 'password'"
                                        (keyup)="checkPasswordStrength($event.target.value)"
                                        data-cy="new-password"
                                    />
                                    <button mat-icon-button matSuffix (click)="toggleNewPasswordVisibility()">
                                        <mat-icon>{{ newPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
                                    </button>
                                </mat-form-field>
                                <mat-list class="validation-list">
                                    <app-password-strength-check
                                        [success]="passLength"
                                        validationMessage="At least 8 characters in length"
                                    >
                                    </app-password-strength-check>
                                    <app-password-strength-check
                                        [success]="numberFlag"
                                        validationMessage="At least 1 digit"
                                    >
                                    </app-password-strength-check>
                                    <app-password-strength-check
                                        [success]="upperFlag"
                                        validationMessage="At least 1 uppercase letter"
                                    >
                                    </app-password-strength-check>
                                    <app-password-strength-check
                                        [success]="lowerFlag"
                                        validationMessage="At least 1 lowercase letter"
                                    >
                                    </app-password-strength-check>
                                    <app-password-strength-check
                                        [success]="specialFlag"
                                        validationMessage="At least 1 special character (Valid: ! @ # $ ^ &)"
                                    >
                                    </app-password-strength-check>
                                </mat-list>
                                <mat-form-field
                                    appearance="fill"
                                    class="confirm-password-field"
                                    style="margin-bottom: 8px;"
                                >
                                    <mat-label>Confirm Password</mat-label>
                                    <input
                                        matInput
                                        placeholder="Confirm Password"
                                        required
                                        formControlName="confirmPassword"
                                        [type]="confirmPasswordVisible ? 'text' : 'password'"
                                        [errorStateMatcher]="errorMatcher"
                                        data-cy="confirm-password"
                                    />
                                    <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()">
                                        <mat-icon>{{
                                            confirmPasswordVisible ? 'visibility' : 'visibility_off'
                                        }}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="passwordFormGroup.hasError('passwordsDoNotMatch')"
                                        >Passwords do not match
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </form>
                    </mat-card-content>
                </div>
                <mat-divider class="bottom-divider"></mat-divider>
                <mat-card-actions>
                    <button class="cancel-button" mat-stroked-button color="primary" (click)="clearFields()">
                        Cancel
                    </button>
                    <button class="submit-button" mat-flat-button [disabled]="!hasValidPasswords()" color="primary">
                        Submit
                    </button>
                </mat-card-actions>
            </div>
        </div>
    </mat-card>
</div>
