@import '~@pxblue/colors/palette.scss';

.radio-group {
    display: flex;
    flex-direction: column;
}

.delete_icon {
    vertical-align: middle;
    color: map-get($pxb-black, 500);
    font-size: 18px;
    line-height: 24px;
}

.add_button {
    width: 100%;
    height: 100%;
    padding: 16px 64px;
    background: transparent;
    text-align: left;

    &[disabled] {
        background: transparent;
    }
}

::ng-deep .mat-step:last-child .mat-step-label {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

::ng-deep .mat-step-header .mat-step-icon-state-done {
    background: rgba(0, 0, 0, 0.54);
}
