@import '~@brightlayer-ui/colors/palette.scss';

.radio-group {
    display: flex;
    flex-direction: column;
}

.delete-icon {
    vertical-align: middle;
    color: map-get($blui-black, 500);
    font-size: 24px;
    line-height: 24px;
}

.add-button {
    width: 100%;
    height: 100%;
    padding: 16px 60px;
    background: transparent;
    text-align: left;

    &[disabled] {
        background: transparent;
    }
}

::ng-deep .mat-step-label,
.add-button {
    font-weight: 400;
    font-size: 1rem;
}

::ng-deep .mat-step:last-child .mat-step-label {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.stepper-with-data,
.stepper-with-empty-state {
    background-color: map-get($blui-white, 50);
    min-height: calc(100vh - 64px);
}

@media only screen and (max-width: 600px) {
    .stepper-with-data,
    .stepper-with-empty-state {
        min-height: calc(100vh - 56px);
    }
}
