@import '~@pxblue/colors/palette.scss';

section.mat-typography {
    padding-top: 40px;
    max-width: 512px;
    margin: 0 auto;
    .passcode-form-message {
        padding: 0 16px;
        margin-bottom: 32px;
    }

    .passcode-form {
        padding: 0 16px;
        margin-top: 32px;
    }
}

mat-form-field {
    width: 100%;
    margin-bottom: 24px;
}

::ng-deep .pxb-drawer-layout-nav-content {
    background-color: map-get($pxb-white, 50);
}