@import '~@pxblue/colors/palette.scss';

section.mat-typography {
    padding-top: 40px;
    max-width: 512px;
    margin: 0 auto;
    .passcode-form-message {
        padding: 0 16px;
        margin-bottom: 32px;
    }

    .passcode-form {
        padding: 0 16px;
        margin-top: 32px;
    }
}

mat-form-field {
    width: 100%;
    margin-bottom: 24px;
}
.reset-btn {
    mat-icon {
        margin-left: -4px; 
        font-size: 20px;
    }
}

::ng-deep .pxb-drawer-layout-nav-content {
    background-color: map-get($pxb-white, 50);
}

@media only screen and (max-width: 600px) {
    .reset-btn {
        width: 100%;
    }
}