/* You can add global styles to this file, and also import other style files */
@import '~@pxblue/colors/palette.scss';
@import '~placeholder-loading/src/scss/placeholder-loading';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.pxb-drawer-layout-nav-content {
    background-color: map-get($pxb-white, 50);
}

.app-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.app-overlay-container {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

@media only screen and (min-width: 960px) {
    .mat-snack-bar-container {
        margin-left: 270px !important;
    }
}
