/* You can add global styles to this file, and also import other style files */
@import '~@pxblue/angular-themes/theme.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.pxb-drawer-layout-nav-content {
    background-color: map-get($pxb-white, 50);
}

.app-bar {
    position: sticky !important;
    top: 0;
    z-index: 1000;
}
