.mat-toolbar .mat-progress-bar {
    position: absolute;
    margin: 0 -16px;
    bottom: 0;
}
section.mat-typography {
    height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
}
