<mat-toolbar data-cy="pxb-toolbar" color="primary" class="app-bar mat-elevation-z2">
    <button data-cy="toolbar-menu" *ngIf="isSmall" style="margin-left: -8px" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="mat-title" [style.marginLeft.px]="isSmall ? 24 : 0">Status List</div>
    <pxb-spacer></pxb-spacer>
</mat-toolbar>
<section class="list-section">
    <div class="list-example">
        <mat-accordion class="accordion-panel">
            <mat-expansion-panel [expanded]="true" [class.expansion-panel-mobile]="isSmall">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        With Time Stamps, with Title+Subtitle+Info
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list class="list-section">
                    <pxb-info-list-item
                        divider="partial"
                        [statusColor]="colors.red[500]"
                        chevron="true"
                        [avatar]="true"
                        iconAlign="center"
                        wrapTitle="no"
                    >
                        <mat-icon pxb-icon class="alarm-icon">notifications</mat-icon>
                        <div class="time-section" pxb-left-content>
                            <div><span class="time-numeric">8:21</span>AM</div>
                            <div>11/23/</div>
                        </div>
                        <div class="title-section" pxb-title>
                            <div>
                                <span class="title-label">{{ isSmall ? 'High Humidity' : 'High Humidity:' }}</span
                                ><span class="title-desc">PX2341 sensor level 9</span>
                            </div>
                        </div>
                        <div class="title-section" pxb-subtitle>
                            <div class="subtitle">Cherrington Station < Moon Township</div>
                        </div>
                        <span pxb-right-content *ngIf="!isSmall">
                            <pxb-list-item-tag
                                [backgroundColor]="colors.blue[500]"
                                label="Assigned"
                                style="margin-right: 16px"
                            ></pxb-list-item-tag>
                            <pxb-list-item-tag
                                style="margin-right: 8px"
                                [backgroundColor]="colors.red[500]"
                                label="Active"
                            ></pxb-list-item-tag>
                        </span>
                        <div pxb-info *ngIf="isSmall">
                            <pxb-list-item-tag
                                [backgroundColor]="colors.blue[500]"
                                label="Assigned"
                                style="margin-right: 8px; margin-top: 4px;"
                            ></pxb-list-item-tag>
                            <pxb-list-item-tag
                                style="margin-right: 8px"
                                [backgroundColor]="colors.red[500]"
                                label="Active"
                            ></pxb-list-item-tag>
                        </div>
                    </pxb-info-list-item>

                    <pxb-info-list-item
                        divider="partial"
                        chevron="true"
                        iconAlign="center"
                        [statusColor]="colors.orange[500]"
                        wrapTitle="no"
                    >
                        <mat-icon pxb-icon svgIcon="px-icons:maintenance" class="maintenance-icon"></mat-icon>
                        <div class="time-section" pxb-left-content>
                            <div><span class="time-numeric">7:48</span>AM</div>
                            <div>11/23/</div>
                        </div>
                        <div class="title-section" pxb-title>
                            <div>
                                <span class="title-label">{{ isSmall ? 'Battery Service' : 'Battery Service:' }}</span
                                ><span class="title-desc">EATON GH142</span>
                            </div>
                        </div>
                        <div class="title-section" pxb-subtitle>
                            <div class="subtitle">Cherrington Station < Moon Township</div>
                        </div>
                    </pxb-info-list-item>

                    <pxb-info-list-item chevron="true" [avatar]="true" iconAlign="center">
                        <mat-icon pxb-icon>notifications</mat-icon>
                        <div class="time-section" pxb-left-content>
                            <div><span class="time-numeric">2:13</span>AM</div>
                            <div>11/23/</div>
                        </div>
                        <div class="title-section" pxb-title>
                            <div>
                                <span class="title-label">{{
                                    isSmall ? 'Bypass Over Frequency' : 'Bypass Over Frequency:'
                                }}</span
                                ><span class="title-desc">A2 Max Reval</span>
                            </div>
                        </div>
                        <div class="title-section" pxb-subtitle>
                            <div class="subtitle">Cherrington Station < Moon Township</div>
                        </div>
                    </pxb-info-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="list-example without-icons">
        <mat-accordion class="accordion-panel">
            <mat-expansion-panel [expanded]="true" [class.expansion-panel-mobile]="isSmall">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Without Icons, with Title
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list class="list-section">
                    <pxb-info-list-item divider="full" [statusColor]="colors.red[500]" chevron="true">
                        <div class="title-section" pxb-title>
                            <div>
                                <span class="title-label">{{ isSmall ? 'High Humidity' : 'High Humidity:' }}</span
                                ><span class="title-desc">PX2341 sensor level 9</span>
                            </div>
                        </div>
                        <div class="subtitle-section" pxb-subtitle>
                            <div class="subtitle">Cherrington Station < Moon Township</div>
                        </div>
                    </pxb-info-list-item>

                    <pxb-info-list-item chevron="true">
                        <div class="title-section" pxb-title>
                            <div>
                                <span class="title-label">{{ isSmall ? 'Battery Service' : 'Battery Service:' }}</span
                                ><span class="title-desc">EATON GH142</span>
                            </div>
                        </div>
                    </pxb-info-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="list-example with-icons">
        <mat-accordion class="accordion-panel">
            <mat-expansion-panel [expanded]="true" [class.expansion-panel-mobile]="isSmall">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        With Icons, with Title
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list class="list-section">
                    <pxb-info-list-item
                        divider="partial"
                        [statusColor]="colors.red[500]"
                        chevron="true"
                        [avatar]="true"
                        iconAlign="center"
                    >
                        <mat-icon pxb-icon class="alarm-icon">notifications</mat-icon>
                        <div class="title-section" pxb-title>
                            <div>
                                <span class="title-label">{{ isSmall ? 'High Humidity' : 'High Humidity:' }}</span
                                ><span class="title-desc">PX2341 sensor level 9</span>
                            </div>
                        </div>
                        <div class="subtitle-section" pxb-subtitle>
                            <div class="subtitle">Cherrington Station < Moon Township</div>
                        </div>
                    </pxb-info-list-item>
                    <pxb-info-list-item chevron="true" iconAlign="center">
                        <mat-icon pxb-icon svgIcon="px-icons:maintenance"></mat-icon>
                        <div class="title-section" pxb-title>
                            <div>
                                <span class="title-label">{{ isSmall ? 'Battery Service' : 'Battery Service:' }}</span
                                ><span class="title-desc">EATON GH142</span>
                            </div>
                        </div>
                    </pxb-info-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</section>
