<mat-toolbar data-cy="pxb-toolbar" color="primary" class="app-bar">
    <button data-cy="toolbar-menu" *ngIf="isSmall" style="margin-left: -8px;" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="mat-title">Status List</div>
    <pxb-spacer></pxb-spacer>
</mat-toolbar>
<mat-list class="alert" *ngIf="data.length > 0">
    <pxb-info-list-item
        *ngFor="let item of data; let index = index"
        [statusColor]="setAlarm(item.status) ? colors.red[500] : ''"
        [avatar]="true"
    >
        <mat-icon
            pxb-icon
            [style.color]="getIconColor(item.status)"
            [style.backgroundColor]="item.status === 'alarm' ? colors.red[500] : ''"
            >{{ item.icon }}</mat-icon
        >
        <span pxb-title>{{ item.name }}</span>
        <span pxb-subtitle>{{ item.details }}</span>
        <span pxb-right-content *ngIf="setAlarm(item.status)">
            <pxb-list-item-tag [backgroundColor]="colors.red[500]" label="new"></pxb-list-item-tag>
        </span>
    </pxb-info-list-item>
</mat-list>
