@import '~@brightlayer-ui/colors/palette.scss';

.blui-chip-list {
    ::ng-deep .mat-chip.mat-standard-chip {
        background-color: map-get($blui-white, 50) !important;
        border: 1px solid #424e541f;
        cursor: pointer;
    }

    ::ng-deep .mat-chip.mat-standard-chip.highlight,
    ::ng-deep .mat-chip.mat-standard-chip:hover {
        background-color: map-get($blui-white, 500) !important;
    }
}
