@import '~@pxblue/colors/palette.scss';

.pxb-chip-list {
    ::ng-deep .mat-chip.mat-standard-chip {
        background-color: map-get($pxb-white, 50) !important;
        border: 1px solid #424e541f;
        cursor: pointer;
    }

    ::ng-deep .mat-chip.mat-standard-chip.highlight,
    ::ng-deep .mat-chip.mat-standard-chip:hover {
        background-color: map-get($pxb-white, 500) !important;
    }
}
