@import '~@pxblue/colors/palette.scss';

.drawer-layout-nav-content {
    height: calc(100% - 64px);
}

section.mat-typography {
    max-width: 512px;
    margin: 0 auto;
    padding-bottom: 48px;
    .factory-details-container {
        padding: 40px 16px 0;
        .container-header {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            mat-icon {
                margin-right: 16px;
                color: map-get($pxb-gray, 500);
            }
            h2 {
                margin-bottom: 0;
            }
        }
        mat-form-field {
            width: 100%;
            margin-bottom: 24px;
        }
    }

    .factory-sub-fields {
        display: flex;
        mat-form-field {
            flex: 1;
            margin-right: 32px;
        }
        .pxb-protection-details {
            flex: 1;
            height: 56px;
            display: flex;
            align-items: center;
            .mat-icon {
                height: 20px;
                width: 20px;
                font-size: 20px;
                color: map-get($pxb-black, 100);
                cursor: pointer;
                margin-left: 16px;
            }
        }
    }

    .bottom-divider,
    .pxb-protection-desc {
        display: none;
    }

    .factory-address-details {
        .address-note {
            margin-top: -8px;
            margin-bottom: 32px;
        }
        .address-sub-fields {
            display: flex;
            .state-input,
            .zip-code-input {
                width: 30%;
                padding-right: 16px;
            }
            .country-input {
                width: 40%;
            }
        }
    }

    .contact-sub-fields {
        display: flex;
        mat-form-field {
            width: 50%;
            &:first-child {
                margin-right: 16px;
            }
        }
    }

    .form-action {
        text-align: right;
        .submit-button {
            margin: 0 16px;
        }
    }
}

::ng-deep .mat-checkbox-inner-container {
    margin-right: 16px !important;
}

::ng-deep .tooltip-pd {
    color: map-get($pxb-gray, 50);
    width: 230px;
    height: 40px;
    background: map-get($pxb-darkBlack, 900);
    overflow: visible !important;
    margin-bottom: 4px !important;
    border-radius: 3px;
    padding: 4px 8px;
    &:after {
        content: ' ';
        position: absolute;
        bottom: -4px;
        left: 48%;
        border-style: solid;
        border-width: 4px 4px 0 4px;
        border-color: map-get($pxb-darkBlack, 900) transparent transparent transparent;
    }
}

@media only screen and (max-width: 600px) {
    .drawer-layout-nav-content {
        height: calc(100% - 56px);
    }
    section.mat-typography.small {
        max-width: 100%;
        padding-bottom: 0;
        .factory-details-container {
            padding: 24px 16px 0;
        }
        .factory-sub-fields {
            display: block;
            mat-form-field {
                margin-right: 0;
            }
            .pxb-protection-details {
                display: block;
                height: auto;
                .mat-icon {
                    display: none;
                }
                .pxb-protection-desc {
                    display: block;
                    padding-left: 32px;
                    color: map-get($pxb-gray, 500);
                }
            }
        }
        .factory-address-details {
            .container-header {
                margin-bottom: 24px;
            }
            .address-note {
                margin-bottom: 24px;
            }
            .address-sub-fields {
                display: block;
                .state-input {
                    width: 50%;
                    padding-right: 16px;
                }
                .zip-code-input {
                    width: 50%;
                    padding-right: 0;
                }
                .country-input {
                    width: 100%;
                }
            }
        }
        .contact-details {
            .contact-sub-fields {
                display: block;
                mat-form-field {
                    width: 100%;
                    &:first-child {
                        margin-right: 0;
                    }
                }
            }
        }
        .bottom-divider {
            display: block;
        }
        .form-action {
            margin: 16px;
            .submit-button {
                width: 100%;
                margin: 0;
            }
        }
    }
}
