<mat-toolbar color="primary" class="app-bar mat-elevation-z2" data-cy="pxb-toolbar">
    <button data-cy="toolbar-menu" *ngIf="isSmall" style="margin-left: -8px" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="mat-title" [style.marginLeft.px]="isSmall ? 24 : 0">Sectioned Form</div>
</mat-toolbar>
<section class="mat-typography" [class.small]="isSmall">
    <form class="factory-details-form">
        <div class="factory-details-container">
            <div class="container-header">
                <mat-icon svgIcon="px-icons:factory"></mat-icon>
                <h2>Factory</h2>
            </div>
            <div class="form-fields">
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" required type="text" data-cy="name" value="ACME Steel Plant" />
                    <mat-hint>For Example, Facility or Campus name</mat-hint>
                </mat-form-field>
                <div class="factory-sub-fields">
                    <mat-form-field appearance="fill">
                        <mat-label>Level</mat-label>
                        <mat-select [(value)]="selectedLevel">
                            <mat-option *ngFor="let level of levels" [value]="level.value">
                                {{ level.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="pxb-protection-details">
                        <mat-checkbox class="pxb-protection">
                            PXB Protection
                        </mat-checkbox>
                        <mat-icon
                            matTooltip="PXB Protection provides a three-year power expert warranty."
                            matTooltipPosition="above"
                            >help_outline</mat-icon
                        >
                    </div>
                </div>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="factory-details-container factory-address-details">
            <div class="container-header">
                <mat-icon>location_on</mat-icon>
                <h2>Address</h2>
            </div>
            <p class="mat-body-1 address-note">
                Note that different country write addresses in different ways. The following fields are for United
                States address.
            </p>
            <div class="form-fields">
                <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Address" required type="text" data-cy="address-one" value="" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Address Line 2</mat-label>
                    <input
                        matInput
                        placeholder="Address Line 2 (Optional)"
                        type="text"
                        data-cy="address-two"
                        value=""
                    />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="City" type="text" data-cy="city" value="" />
                </mat-form-field>
                <div class="address-sub-fields">
                    <mat-form-field appearance="fill" class="state-input">
                        <mat-label>State</mat-label>
                        <mat-select [(value)]="selectedState">
                            <mat-option *ngFor="let state of states" [value]="state.value">
                                {{ state.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="zip-code-input">
                        <mat-label>Zip Code</mat-label>
                        <input matInput placeholder="Zip Code" type="text" data-cy="zip-code" value="" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="country-input">
                        <mat-label>Country</mat-label>
                        <input
                            matInput
                            placeholder="Country"
                            type="text"
                            data-cy="country"
                            value="United States"
                            disabled
                        />
                    </mat-form-field>
                </div>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="factory-details-container contact-details">
            <div class="container-header">
                <mat-icon>contact_mail</mat-icon>
                <h2>Key Contact</h2>
            </div>
            <div class="form-fields">
                <div class="contact-sub-fields">
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name" required type="text" data-cy="contact-name" value="" />
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Last Name (Optional)</mat-label>
                        <input matInput placeholder="Last Name (Optional)" type="text" data-cy="last-name" value="" />
                    </mat-form-field>
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>Email Address</mat-label>
                    <input matInput placeholder="Email Address" required type="text" data-cy="email-adress" value="" />
                </mat-form-field>
            </div>
        </div>

        <div class="form-action">
            <button class="submit-button" mat-flat-button color="primary">
                Submit
            </button>
        </div>
    </form>
</section>
